# ── API ───────────────────────────────────────────────────────────────────────
# Development
# VITE_API_BASE_URL=http://localhost:3001/v1
# Production
VITE_API_BASE_URL=https://api.one-led.io/v1

# ── App ───────────────────────────────────────────────────────────────────────
VITE_APP_URL=https://one-led.io
VITE_CDN_URL=https://cdn.one-led.io
